<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                http://www.springframework.org/schema/beans/spring-beans-4.1.xsd
                http://www.springframework.org/schema/context
                http://www.springframework.org/schema/context/spring-context-4.1.xsd">

    <context:property-placeholder location="classpath:httpclient/httpclient.properties" local-override="true" system-properties-mode="OVERRIDE" ignore-unresolvable="true"></context:property-placeholder>

    <!--http连接池配置-->
    <bean id="httpDataSource"  class="com.msimw.retrofit2x.spring.HttpDataSource">
        <property name="maxIdleConnections" value="${httpclient.maxIdleConnection}"></property>
        <property name="keepAliveDurationNs" value="${httpclient.keepAliveDuration}"></property>
        <property name="connTimeOut" value="${httpclient.connTimeOut}"></property>
        <property name="readTimeOut" value="${httpclient.readTimeOut}"></property>
        <property name="writeTimeOut" value="${httpclient.writeTimeOut}"></property>
    </bean>

    <!--http扫包配置-->
    <bean class="com.msimw.retrofit2x.spring.HttpApiScannerConfigurer">
        <!--与spring扫包配置一样-->
        <property name="basePackage" value="com"></property>
    </bean>


</beans>