<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xmlns:context="http://www.springframework.org/schema/context"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans
                http://www.springframework.org/schema/beans/spring-beans-4.1.xsd
                http://www.springframework.org/schema/context
                http://www.springframework.org/schema/context/spring-context-4.1.xsd">

	<bean
			class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<!-- 允许JVM参数覆盖 -->
		<property name="systemPropertiesModeName" value="SYSTEM_PROPERTIES_MODE_OVERRIDE"/>
		<!-- 忽略没有找到的资源文件 -->
		<property name="ignoreResourceNotFound" value="true"/>
		<!-- 配置资源文件 -->
		<property name="locations">
			<list>
				<value>classpath:httpclient.properties</value>
			</list>
		</property>
	</bean>

	<context:component-scan base-package="com"></context:component-scan>
	<!--http连接池配置-->
	<bean id="connectionPool" class="okhttp3.ConnectionPool">
		<constructor-arg index="0"  value="100"/>
		<constructor-arg index="1"  value="100"/>
		<constructor-arg index="2"  value="MINUTES"/>

	</bean>

	<bean class="com.msimw.httpservice.client.spring.HttpServiceScannerConfigurer">
		<property name="connTimeOut" value="15"></property>
		<property name="writeTimeOut" value="15"></property>
		<property name="readTimeOut" value="15"></property>
		<property name="connectionPool" ref="connectionPool"></property>
		<property name="basePackage" value="com"></property>
	</bean>



</beans>